<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="transactionService" class="com.gbn.service.TransactionServiceImpl" />

	<bean id="transactionAdvice" class="com.gbn.advice.TransactionAdvice" />

	<bean id="transactionProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interceptorNames">
			<list>
				<value>transactionAdvisor</value>
			</list>
		</property>

		<property name="target" ref="transactionService" />

	</bean>
	
	<!-- <bean id="transactionPointCut" class="org.springframework.aop.support.NameMatchMethodPointcut">
		<property name="mappedName" value="withdraw" />
	</bean> -->
	
	<bean id="transactionAdvisor"
	class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
	<property name="patterns">
		<list>
			<value>.*w.*</value>
		</list>
	</property>

	<property name="advice" ref="transactionAdvice" />
</bean>

	<!-- <bean id="transactionAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
		<property name="pointcut" ref="transactionPointCut" />
		<property name="advice" ref="transactionAdvice" />
	</bean> -->

</beans>